{
    email admin@qingverse.com   # ← 换成你自己的可用邮箱
}

{$DOMAIN} {
  encode zstd gzip

    # 命中 /api/* 和 /health 走后端
    @api path /api/* /health
    handle @api {
        reverse_proxy api:9000
    }

    # 其他流量走前端
    handle {
        reverse_proxy web:3000
    }

  header {
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}