qingverse.com {
  encode gzip
  @api path /api/*

  reverse_proxy @api api:9000
  reverse_proxy web:3000

  # 可选：增加一些安全/缓存头
  header {
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
