{
    email xxx@xx.com
}

{$DOMAIN} {
  encode zstd gzip

  @api_health path /api/health
  handle @api_health {
    rewrite * /health
    reverse_proxy http://api:9000
  }

  @api path /api/*
  handle @api {
    reverse_proxy http://api:9000
  }

  handle {
    reverse_proxy http://web:3000
  }

  header {
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
